# General Data Processing
numpy>=2.4.4
pandas>=3.0.2
scikit-learn>=1.8.0
scipy>=1.17.1

# URL Processing
requests>=2.33.1
beautifulsoup4>=4.14.3

# Pitcher Leash Model
keras>=3.14.0
tensorflow>=2.21.0

# Calculating Pitcher Similarity
POT>=0.9.6

joblib>=1.5.3